<div class="container text-center text-container" *ngIf="!registrationMode">

  <!-- ngSumbit is a function of angular. so after you click submit down below,
    you get directed to login function in ts file -->
  <form #loginForm="ngForm" class="form-signin" (ngSubmit)="login()">


  <h1 class="h3 mb-3 font-weight-normal">Zaloguj się</h1>

  <!-- has to have names. ngClasses are binding with the values in ts file -->
  <label class="sr-only">Email użytkownika</label>
  <input type="text"class="form-control"
    placeholder="Email użytkownika" required autofocus
    name="email"
    [(ngModel)]="model.email">

  <label class="sr-only">Hasło</label>
  <input type="password" class="form-control"
   name="password"
   placeholder="Hasło" required
   [(ngModel)]="model.password"><br/>

   <label class="alert-link">
      <a (click)="toggleRegistrationMode()">amar</a>
   </label>

  <!-- <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Zapamiętaj mnie
    </label> 
  </div> -->

  <!-- button has to have submit type -->
  <button [disabled]="!loginForm.valid" class="btn btn-lg btn-primary btn-block" type="submit">login</button>


  </form>

</div>


<div class="container text-center text-container" *ngIf="registrationMode">
  <form [formGroup]="registerForm" class="form-signin" (ngSubmit)="register()">


      <h1 class="h3 mb-3 font-weight-normal">register</h1>
    
      <!-- has to have names. ngClasses are binding with the values in ts file -->
      <input type="email" class="form-control"
        [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}"
        placeholder="enter email" autofocus
        formControlName="email" pattern=".+@.+">
        <div class="invalid-feedback">Please enter email</div>

      <input type="text" class="form-control"
        [ngClass]="{'is-invalid': registerForm.get('name').errors && registerForm.get('name').touched}"
        placeholder="Imię"
        formControlName="name">
        <div class="invalid-feedback">Wpisz swoje imię.</div>


      <input type="text" class="form-control"
        [ngClass]="{'is-invalid': registerForm.get('surname').errors && registerForm.get('surname').touched}"
        placeholder="Nazwisko"
        formControlName="surname">
        <div class="invalid-feedback">Wpisz swoje nazwisko.</div>

      <input type="text"
              class="form-control"
              [ngClass]="{'is-invalid': registerForm.get('birthDate').errors}"
              #dp="bsDatepicker"
              bsDatepicker
              name="birthDate"
              formControlName="birthDate">
              <div class="invalid-feedback">Hm, coś jest nie tak z tą datą urodzenia.</div>

      <div class="form-group">
        <label class="radio-inline">
          <input class="mr-3" type="radio" value="mężczyzna" formControlName="gender">Mężczyzna
        </label>
        <label class="radio-inline ml-3">
          <input class="mr-3" type="radio" value="kobieta" formControlName="gender">Kobieta
        </label>
      </div>      
    
      <input type="password" class="form-control"
      formControlName="password"
      [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}"
      placeholder="Hasło">
      <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
        Hasło jest wymagane.
      </div>
      <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">
          Hasło jest za krótkie.
        </div>
        <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">
            Hasło jest za długie.
          </div>


      <input type="password" class="form-control"
      [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors
       && registerForm.get('confirmPassword').touched
       || registerForm.get('confirmPassword').touched
       && registerForm.hasError('mismatch')}"
      formControlName="confirmPassword"
      placeholder="Powtórz hasło"><br/>
      <div class="invalid-feedback"
        *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched">
        Powtórz hasło.
      </div>
      <div class="invalid-feedback"
      *ngIf="registerForm.get('confirmPassword').touched && registerForm.hasError('mismatch')">
      Hasła muszą być takie same.
    </div>
    
      <div class="form-group text-center">
        <button class="btn btn-success btn-lg" [disabled]="!registerForm.valid" type="submit">Zarejestruj</button>
        <button class="btn btn-default btn-lg" type="button" (click)="cancel()">Wróć</button>
      </div>
      
    </form>
  </div>